<p>
  Hi there!
</p>

<p>
  This is your login email. Please click the link below to get access to 35mm.
</p>

<p>
  <%= link_to "Verify your email", @login_link %>
</p>

<hr>

<p>
  <small>
    If the link above doesn't work, please copy the address below and paste it
    onto your browser.
  </small>
</p>

<p>
  <small>
    <%= @login_link %>
  </small>
</p>
