<%= form_for @post, url: new_post_path, as: :post do |f| %>
  <%= f.hidden_field :description %>

  <%= f.input :photo,
              input_html: {accept: Photomatic::Config.photo_mime_types.join(",")} %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
