@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-color: #0091ff;
  --main-bg-color: #fff;
  --heading-gradient-from-color: #741abf;
  --heading-gradient-to-color: #17a6c5;
  --home-rect-left: rgba(150, 255, 0, 0.06);
  --home-rect-right: rgba(0, 145, 255, 0.06);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --logo-color: #b3b9f8;
    --main-bg-color: #2f303a;
    --heading-gradient-from-color: #a648f3;
    --heading-gradient-to-color: #00b7ff;
    --home-rect-left: rgba(98, 54, 255, 0.14);
    --home-rect-right: rgba(83, 102, 255, 0.14);
  }
}

body {
  background-color: var(--main-bg-color);
}

.svg-logo {
  display: inline-block;
  max-width: 200px;
}

.svg-logo svg {
  width: 100%;
}

.svg-logo path {
  fill: var(--logo-color);
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.heading {
}

.heading:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5%;
  border-radius: 0 150px 150px 0;
  width: 75vw;
  height: 44vh;
  background: var(--home-rect-left);
}

.heading:after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 150px 0 0 150px;
  width: 50vw;
  top: 20%;
  height: 44vh;
  background: var(--home-rect-right);
}

.heading-gradient {
  background-image: linear-gradient(
    to right,
    var(--heading-gradient-from-color),
    var(--heading-gradient-to-color)
  );
  background-clip: text;
  color: rgba(0, 0, 0, 0.01);
  background-size: 200% 100%;
  animation: 5s gradient infinite;
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
