/* Specify the submit wrapper style.  */
form p:last-of-type {
  border-top: 1px solid var(--mute-lightest-color);
  padding-top: 30px;
  margin-top: 30px;
}

/* Text inputs  */
.input label:after {
  content: "";
  display: block;
  padding-bottom: 5px;
}

.input label {
  font-weight: bold;
}

.input.string input {
  max-width: 350px;
}

.input textarea {
  font-size: 16px;
  min-height: 150px;
  resize: none;
  line-height: inherit;
}

.input input,
.input textarea {
  border-radius: 5px;
  border: 2px solid var(--text-field-border);
  font-size: inherit;
  padding: 10px 15px;
  width: 100%;
}

/* Checkbox inputs  */
.input.boolean label {
  font-size: 16px;
  color: var(--mute-color);
}

.input.boolean input {
  margin-right: 10px;
  width: auto;
}

.input.boolean label:after {
  display: none;
}

.input.boolean label {
  font-weight: normal;
}

/* Hint  */
.input .hint {
  display: block;
  margin-top: -5px;
  padding-bottom: 10px;
  font-size: 16px;
  color: var(--mute-color);
  font-weight: normal;
}

.input .error {
  color: var(--text-field-error);
  display: block;
  font-size: 16px;
  margin-top: 5px;
}

.input .error:before {
  content: "⚠️";
  display: inline-block;
  margin-right: 5px;
}

::placeholder {
  color: var(--mute-color);
}
